body{
    min-width:357px;
    overflow-x:hidden;
    background-color:#9a7F21;
}

#output {
    background-image: linear-gradient(bottom, rgb(227,243,255) 47%, rgb(235,245,250) 74%, rgb(250,255,255) 87%);
    background-image: -webkit-linear-gradient(bottom, rgb(227,243,255) 47%, rgb(235,245,250) 74%, rgb(250,255,255) 87%);
    background-image: -webkit-gradient(
            linear,
            left bottom,
            left top,
            color-stop(0.47, rgb(227,243,255)),
            color-stop(0.74, rgb(235,245,250)),
            color-stop(0.87, rgb(250,255,255))
    );
}
